/* .navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.navbar__item_active {
    flex-basis: 20%;
    justify-content: space-between
}

.navbar_link {
    justify-content: space-between;
    padding-left: 5px
    
} */

.justify-content-end {
    justify-content: right
}

/* img {
    display: flex;
    width: 50%;
} */

.nav-item{
    color: white;
    justify-content: space-between;
   
}


 

.navbar {
   
    height: 12vh;
   
  
    
}


.navbar-brand
{
    position: relative;
    background: url("../../ShowGoerLogo.png");
    width: 220px;
    height: 12vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

