body{
    background-image: url("https://i.pinimg.com/originals/8d/20/ee/8d20ee5abffbb578195e71dbc77b79af.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position: absolute;
    overflow-y:scroll;
}

.link--register{
    display: flex;
    justify-content: center;
    font-weight: bold;
    
}

.container--login{ 
    background-color: rgba(0, 0, 0, 0.555);
    padding: 5%;
    align-content: center;
 
}

.login-welcome {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
}

.login-plz-sign-in{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 3%;
}

.email{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 5%
   
}

.sign-in-button{
    
    margin-left: 1%;
    height: 5vh;
    align-items: center;
}

.email.form-control{
    align-self:baseline;
  
}

.form--login{
align-content: center;
}



